<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

            <!--Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
            <div class="container">
                <strong>  @Html.ActionLink("Portail", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</strong>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <form class="form-inline ms-auto">
                        <div class="my-0">
                            <input class="form-control ms-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Catalogue", "Catalogue", "Home", new { area = "" }, new { @class = "btn btn-outline-white" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Connexion
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (Session["FullName"] != null)
                                {
                                    @Html.ActionLink("Deconnexion", "Logout", "Login", new { area = "" }, new { @class = "dropdown-item" })
                                }
                                else
                                {
                                    @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("S'enregistrer", "Index", "Register", new { area = "" }, new { @class = "dropdown-item" })
                                }


                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - Mon Portail ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
